__pycache__/
*.py[cod]
*.so
.venv/
venv/
*.egg-info/
build/
dist/
/artifacts/
/tests/
outputs/*
!outputs/.gitkeep
results/*
!results/.gitkeep
lightning_logs/
wandb/
data/mp_20/*.pt

.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
evaluate/reference/reference_MP2020correction.gz
